{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}{{ action }} Livre {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title">{{ action }} un livre </h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.errors }}
                    <div class="mb-3">
                    <label class="form-label">Titre</label>
                        {{ form.titre|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Auteur</label>
                        {{ form.auteur|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Genre</label>
                        {{ form.genre|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Description</label>
                        {{ form.description|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Date de publication</label>
                        {{ form.date_de_publication|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {{ action }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

